.CityInput{
  width: 90%;
  margin: 5px auto;
  border: 1px solid grey;
  margin: 3px 10px;
}

.CityListItem {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}

.CityListItem img{
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.CityListItem h5{
  margin-top: -10px;
  color: rgb(20, 20, 20);
}

.containerCities{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-abajo{
  position: absolute;
  left: 13%;
  bottom: 7%;
  color: white;
}

.texto-centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px #010100;
}

