#wrap{
	width: 100%;
	overflow: hidden;
}
#capaimg{
	z-index: 1000;
	width: 100%;
	overflow-x: scroll;
}

#capaimg::-webkit-scrollbar{
	height: 0px;
}

#capaimg::-webkit-scrollbar-thumb{
	background-color: #000000;
}

.img{
    width: 130px;
    height: 135px;
	cursor: pointer;
}

