.containerListItinerary {
  width: 100%;
}

.containerItinerary {
  width: 90%;
  margin: 15px auto;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.wrapperItinerary {
  width: 100%;
  padding: 2%;
  display: flex;
}

.profilePicture {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageProfile {
  width: 100%;
  border-radius: 50%;
  margin: auto;
}

.infoItinerary {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inlineInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.inlineInfo span {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.containerActivities {
  width: 100%;
}
.containerActivitiesExpand{
  width: 90%;
  margin: 30px auto;
}

.MuiCheckbox-colorSecondary.Mui-checked{
  color: red!important;
}

#root > div.containerListItinerary > div > div.wrapperItinerary > div.infoItinerary > div.inlineInfo > label {
  margin-left: 0px;
  margin-right: 0px; 
}

#root > div.containerListItinerary > div > div.wrapperItinerary > div.infoItinerary > div.inlineInfo > label > span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-13.MuiCheckbox-root.MuiCheckbox-colorSecondary.PrivateSwitchBase-checked-14.Mui-checked.MuiIconButton-colorSecondary,
#root > div.containerListItinerary > div > div.wrapperItinerary > div.infoItinerary > div.inlineInfo > label > span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-13.MuiCheckbox-root.MuiCheckbox-colorSecondary.MuiIconButton-colorSecondary{
  margin: 0px;
  position: inherit!important;;
}


#root > div.containerListItinerary > div > div.wrapperItinerary > div.infoItinerary > div.inlineInfo > label > span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-13.MuiCheckbox-root.MuiCheckbox-colorSecondary.PrivateSwitchBase-checked-14.Mui-checked.MuiIconButton-colorSecondary > span.MuiIconButton-label,
#root > div.containerListItinerary > div > div.wrapperItinerary > div.infoItinerary > div.inlineInfo > label > span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-13.MuiCheckbox-root.MuiCheckbox-colorSecondary.MuiIconButton-colorSecondary > span.MuiIconButton-label{
  position: absolute!important;
}